/* RESET CSS */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: #F7F7F7;
}

.App {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.First-Column {
  height: 100%;
  background-color: #425ac6;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.Square-Border-Radius {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 5px;
  background-color: #81C4BD;
}

.Title-Container {
  padding-left: 50px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.Loading-Box {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
}

.Loading-Box tr td{
  padding: 15px;
  vertical-align: middle;
}