
.Logo {
    margin-top: 35px;
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: none;
}

.Brand-Name {
    padding-left: 5px;  
}

.First {
    background-color: #425ac6;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.Sidebar a {
    margin: 0; padding: 0;
}